body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 40px;
  background-color: #020617;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1, h2, h3 {
  color: #38bdf8;
}

.projeto {
  background-color: #020617;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.projeto img {
  width: 100%;
  border-radius: 5px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
